@font-face {
    font-family: "NoahFont";
    src: url("../fonts/NoahFont-Regular.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-size:100%;
    font:inherit;
    font-family: NoahFont;
}

html, body { 
  overflow: auto; 
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
}

.navbar-nav > li{
  padding-left: 10px;
  padding-right: 10px;
}

body::before {
  content: "";
  position: fixed;
  top: 0; 
  left: 0;
  z-index: -1;
  opacity: .20; 
  background-image: url("../images/colorful_ai_city_resized.png");
  background-position: top top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
}

#landing-page-mascott {
  width: 33%;
  min-width: 200px;
  padding-left: 50px;
}

#bio-photo {
  width: 75%;
  max-width: 250px;
  min-width: 100px;
}

.row {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.extended-row {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    min-width: 400px;
}

p {
    font-size: 30px;
}

.vertical-menu {
  width: 300px; /* Set a width if you like */
}

#body-row {
    margin-left:0;
    margin-right:0;
}

#body-row span {
  color: black;
  text-align: center;
}

#submenu0 span {
  color: black;
  font-size: 20px;
}

#submenu1 span {
  color: black;
  font-size: 20px;
}

#submenu2 span {
  color: black;
  font-size: 20px;
}

#submenu3 span {
  color: black;
  font-size: 20px;
}

#submenu4 span {
  color: black;
  font-size: 20px;
}

#submenu5 span {
  color: black;
  font-size: 20px;
}

#submenu6 span {
  color: black;
  font-size: 20px;
}

#submenu7 span {
  color: black;
  font-size: 20px;
}

#submenu8 span {
  color: black;
  font-size: 20px;
}

#submenu9 span {
  color: black;
  font-size: 20px;
}

#submenu10 span {
  color: black;
  font-size: 20px;
}

#body-row a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    font-size: 22px;
}

#submenu0 a {
  background-color: #e6e6e6;
}

#submenu1 a {
  background-color: #e6e6e6;
}

#submenu2 a {
  background-color: #e6e6e6;
}

#submenu3 a {
  background-color: #e6e6e6;
}

#submenu4 a {
  background-color: #e6e6e6;
}

#submenu5 a {
  background-color: #e6e6e6;
}

#submenu6 a {
  background-color: #e6e6e6;
}

#submenu7 a {
  background-color: #e6e6e6;
}

#submenu8 a {
  background-color: #e6e6e6;
}

#submenu9 a {
  background-color: #e6e6e6;
}

#submenu10 a {
  background-color: #e6e6e6;
}

#sidebar-container {
    min-height: 50vh;   
    padding: 0;
}

/* Sidebar sizes when expanded and collapsed */
.sidebar-expanded {
    width: 335px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

#body-row a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

#body-row a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #1E90FF;
  font-size: 25px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#contents {
  float: none;
  overflow: hidden;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ccc;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.question{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  margin-bottom: 10px;
}

.answers {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  text-align: left;
  display: inline-block;
}

.answers label{
  display: block;
  margin-bottom: 10px;
}

button {
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 22px;
  background-color: #279;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #38a;
}

.slide {
  background-color: white; 
  box-shadow: inset 0 0 2px #311b0b; 
  border-radius: 5px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.quiz-container {
  position: relative;
  height: 500px;
  margin-top: 40px;
}

input[type='radio'] { 
     transform: scale(1.4);
}

 input[type='checkbox'] { 
     transform: scale(1.4);
}


